@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


body{
    font-family: Exo;
    background-color: #f5f5f5;

}
.title {
    margin: 0;
    padding:0;
    border:0;
    float:left;
    text-align: center;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}


h1{
    font-family: Anton;
    letter-spacing: 4px;
    text-transform:uppercase;
    font-size: 300%; 
    color:aliceblue;
    border-bottom: 3px solid 	
    #000000;
}





.container1 a:hover {
    border-bottom: 1px solid #ffffff;
}
.home , .nav2 , .nav3 , .nav4{
    border-bottom: 2px solid #000000;
}

.navbar-brand {
    font-size: 130%;
    list-style-type: none;
    letter-spacing: 0px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
}

.carousel {
    padding-top: 2px;
    border-bottom: 2px solid ;
}

.title1 , .title2 , .title3 {
    border: 4px solid 	
    #C0C0C0;
    background-color: #000000;
    color: #ffffff;
}


.sectionbox {
    border-top: 3px solid 	
    #000000
}

.points {
    display: inline-block;
}

.leftbox {
    color:rgb(0, 0, 0);
}

.middlebox{
    color:rgb(0, 0, 0);
}
.rightbox{
    color:rgb(0, 0, 0);
}

.safetybox {
    font-family: Anton;
    letter-spacing: 4px;
    text-transform:uppercase;
    font-size: 200%; 
    color:rgb(255, 255, 255);
    background-color: #000000;
    border: 3px solid #C0C0C0;
      border-style:groove;
}

.logos{
    font-family: Exo;
    color:rgb(0, 0, 0);
    font-size: 150%;
    letter-spacing: 2px;
    border-top: 3px solid 	
    #000000;
    border-bottom: 3px solid 	
    #000000;
}

.fac {
    font-family: Anton;
    letter-spacing: 4px;
    text-transform:uppercase;
    font-size: 300%; 
    color:rgb(255, 255, 255);
    border: 3px solid 	#C0C0C0;
      border-style:groove;
      background-color: #000000;
}

.homepics {
   
    border-bottom: 3px solid 	
    #000000;
    padding-bottom: 1%;
}

#pictures {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0px;
    
}

#pictures img{
    width:100%;
    height:auto;
}





.home1 {
    padding-right: 1;

    text-align: right;
}

.home2 {
    padding-left: 1;

    text-align:left;
}

.home3 {
    padding-right: 1;

    text-align: right;
}

.home4 {
    padding-left: 1;

    text-align: left;
}


  .fa-facebook {
    color: #ffffff;
    font-size: 300%;
  }
  
  .fa-twitter{
    color: #ffffff;
    font-size: 300%;
  }
  
  .fa-instagram{
    color: #ffffff;
    font-size: 300%;
  }
  

  .fa-facebook:hover{
    color: #517fa4;
  } 
  
  .fa-twitter:hover{
    color: #517fa4;
  } 

  .fa-instagram:hover{
    color: #517fa4;
  } 

#email:hover { 
    background-color: #000000;
    color:aliceblue;
}
#call:hover {
    background-color: #000000;
    color: aliceblue;
}

.contact {
    font-size: 250%;
    font-family: Anton;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 3px solid 	
    #C0C0C0;
    border-style:groove;
    background-color: #000000;
}


#email{
    background-color:	
    #C0C0C0;
    color: #000000;
}

#call {
    background-color: 	
    #C0C0C0;
    color: #000000;
}

#map {
	background-repeat: no-repeat;
    display:inline-block;    
    width: 100%;
}

.mapbox{
    border-right: 3px solid 	
    #000000;
    border-bottom: 3px solid 	
    #000000;
   
}

.maph1{
    font-family: Anton;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 250%; 
    border: 3px solid 	
    #C0C0C0;
    border-style:groove;
    background-color: #000000;
    
}

.timebox{
    border-bottom: 3px solid 	
    #000000;
    
   
}

.times {
    color: rgb(255, 255, 255);
    font-family: Anton;
    letter-spacing: 3px;
    font-size: 250%; 
    text-transform: uppercase;
    border: 3px solid 	
    #C0C0C0;
    border-style:groove;
    background-color: #000000;
    
}

.timesp {
    color: rgb(0, 0, 0);
    font-family: exo;
    letter-spacing: 3px;
    font-size: 150%; 
}

#hours {
    font-size: 200%;
    text-align:center;
    margin-top: auto;
}


.trainer1 {
    width: 100%;
    height: 100%;
    float: right;

}

.h2sign {
    text-align: center;
    font-family: anton;
    letter-spacing: 2px;
    font-size: 250%;
    text-transform: uppercase;
    color: black;
}

.form-section {
   
    background: url("https://images.pexels.com/photos/3768916/pexels-photo-3768916.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size:contain;
    background-position: center;
    height: 900px;
    width: 100%;
    image-rendering: pixelated;
}

.form{
    margin-top: 100px;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 800px;
    position: absolute;
    left: 5%;
    padding: 30px;
}


.ptleft {
    position: relative;
    color: rgb(51, 54, 56);
    background-color:aliceblue;
    left: 70px;
    top: -15px;
    padding-right: 4%;
    margin-top: 2%;
    border: 3px solid #000000;
}

.pt1 , .pt2 , .pt3 {
    border: 3px solid #C0C0C0;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

.ptmiddle {
    position: relative;
    color: rgb(45, 47, 48);
    background-color:	
    #C0C0C0;
    z-index: 1;
    border: 3px solid #000000;
}

.ptright {
    position: relative;
    color: rgb(30, 32, 33);
    background-color:aliceblue;
    right: 70px;
    top: -15px;
    padding-left: 4%;
    margin-top: 2%;
    border: 3px solid #000000;
}

.test1 , .test2 , .test3 , .test4 , .test5 , .test6 {
    background-color:	
    #C0C0C0;
    border: 1px solid #000000;
    margin-right: 1%;
    margin-bottom: 2%;
    color: rgb(0, 0, 0);
    
      border-style:groove;
}

.review {
    border-bottom: 3px solid 	
    #000000;
    padding-bottom: 2%;
}

.home1 , .home2 , .home3 , .home4 {
    margin-right: 1%;
    padding-left: 1px;
    object-fit: cover;
    
   
}

.fa-star{
    color: yellow;
}

.testh2 {
    font-family: Anton;
    font-size: 300%;
    letter-spacing: 4px;
    color:#ffffff;
    border: 3px solid 	
    #C0C0C0;
    border-style:groove;
    text-transform: uppercase;
    background-color: #000000;
      
}

.meet {
    color: rgb(255, 255, 255);
    font-family: Anton;
    letter-spacing: 3px;
    font-size: 250%; 
    text-transform: uppercase;
    border: 3px solid 	
    #C0C0C0;
    border-style:groove;
    background-color: #000000;
    font-weight: 100;
}

.circle-container {
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: #cccccc;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('https://images.pexels.com/photos/2770600/pexels-photo-2770600.jpeg?auto=compress&cs=tinysrgb&w=520&h=520&dpr=1') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#circle-cover-bg1 {
    background: url('https://images.pexels.com/photos/7207546/pexels-photo-7207546.jpeg?auto=compress&cs=tinysrgb&w=750&h=450&dpr=1') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#circle-cover-bg2 {
    background: url('https://images.pexels.com/photos/6288087/pexels-photo-6288087.jpeg?auto=compress&cs=tinysrgb&w=500&h=450&dpr=1') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#circle-cover-bg3 {
    background: url('https://images.pexels.com/photos/8217858/pexels-photo-8217858.jpeg?auto=compress&cs=tinysrgb&w=620&h=450&dpr=1') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}
#circle-cover-bg4 {
    background: url('https://images.pexels.com/photos/8217858/pexels-photo-8217858.jpeg?auto=compress&cs=tinysrgb&w=620&h=450&dpr=1') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}
#circle-cover-bg5 {
    background: url('https://images.pexels.com/photos/8217858/pexels-photo-8217858.jpeg?auto=compress&cs=tinysrgb&w=620&h=450&dpr=1') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}


footer {
    margin-top: 0px;
    border-bottom: 3px solid #000000;
    background-color:	
    #363945;
    text-align: center;
    color: #000000;
}

.homeL , .copyL {
    color:#ffffff;
    letter-spacing: 4px;
}

.linkL {
    color:#ffffff;
    border-bottom: 2px solid #C0C0C0;
    letter-spacing: 3px;
} 

.homeL:hover{
    color: #000000;
    border-bottom: 2px solid #C0C0C0;
}

#hexGrid {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    font-family: sans-serif;
    list-style-type: none;
  }
  
  .hex {
    position: relative;
    visibility:hidden;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
    transition: all 0.5s;
    backface-visibility: hidden;
    will-change: transform;
    transition: all 0.5s;
  }
  .hex::after{
    content:'';
    display:block;
    padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
  }
  .hexIn{
    position: absolute;
    width:96%;
    padding-bottom: 110.851%; /* =  width / sin(60) */
    margin: 2%;
    overflow: hidden;
    visibility: hidden;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
    -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
        -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
            transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      transition: all 0.5s;
  }
  .hexIn * {
    position: absolute;
    visibility: visible;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  }
  .hexLink {
      display:block;
      width: 100%;
      height: 100%;
      text-align: center;
      color: #fff;
      overflow: hidden;
      -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
          -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
              transform: skewY(-30deg) rotate3d(0,0,1,60deg);
  }
  
  
  
  
  /*** HEX CONTENT **********************************************************************/
  .hex img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
  }
  
  .hex h1, .hex p {
    width: 100%;
    padding: 5%;
    box-sizing:border-box;
    font-weight: 300;
    opacity: 0;
  }
  
  #demo1 {
    color: #F5CE95;
    text-transform: capitalize;
      text-align: center;
    bottom: 50%;
    padding-top:50%;
    font-size: 1.5em;
    z-index: 1;
  }
  .hex h1:before, .hex h1:after {
    display: inline-block;
    margin: 0 0.5em;
    width: 0.25em;
    height: 0.03em;
    background: #ffffff;
    content: '';
    vertical-align: middle;
    transition: all 0.3s;
    text-align:center;
  }
  
  #demo2 {
  top: 50%;
  text-align: center;
  text-transform: uppercase;
      
  }
  
  .img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  
  .img:before, .img:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    opacity: 0;
    transition: opacity 0.5s;
  }
  .img:before {
    background: rgba(22, 103, 137, 0.3)
  }
  .img:after {
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5), transparent);
  }
  
  /*** HOVER EFFECT  **********************************************************************/
  
  
  
  .hexLink:hover h1, .hexLink:focus h1,
  .hexLink:hover p, .hexLink:focus p{
  opacity:1;
  transition: 0.8s;
  }
  
  
  .hexIn:hover .img:before,
  .hexIn:hover .img:after,
  .hexIn:hover .hexLink {
    opacity: 1;
  }
  
  
  /*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
  @media (min-width:1201px) { 
    #hexGrid{
      padding-bottom: 4.4%
    }
    .hex {
      width: 20%; 
    }
    .hex:nth-child(9n+6){ 
      margin-left:10%; 
    }
  }
  
  @media (max-width: 1200px) and (min-width:901px) { 
    #hexGrid{
      padding-bottom: 5.5%;
      font-size: 13px;
    }
    .hex {
      width: 25%; 
    }
    .hex:nth-child(7n+5){ 
      margin-left:12.5%;  
    }
  }
  
  @media (max-width: 900px) and (min-width:601px) { 
    #hexGrid{
      padding-bottom: 7.4%;
      font-size: 14px;
    }
    .hex {
      width: 33.333%; 
    }
    .hex:nth-child(5n+4){
      margin-left:16.666%;  
    }
  }
  
  @media (max-width: 600px) { 
    #hexGrid{
      padding-bottom: 11.2%;
      font-size: 12px;
    }
    .hex {
      width: 50%; 
    }
    .hex:nth-child(3n+3){
      margin-left:25%; 
    }
  }
  
  @media (max-width: 400px) {
      #hexGrid {
          font-size: 8px;
      }
    
  
    
   
  }
  