@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
    font-family: Exo;
    color:crimson;
    background-color:lightblue;
}

.title {
    margin: 0;
    padding:0;
    border:0;
    float:left;
    text-align: center;
}
text-center{
    text-align: center;
}
text-right{
    text-align: right;
}

h1{
    font-family: Josefin;
    letter-spacing: 3px;
    font-size: 350%; 
    color:black;
}

.navh1 {
    color:black;
}

#FB {
text-align: right;
}



.container1 a:hover {
    border-bottom: 1px solid #620f6b;
}

.navbar-brand {
    border-bottom: 1px solid #777777;
    font-size: 150%;
    list-style-type: none;
    letter-spacing: 0px;
}

.carousel {
    margin-top: 4px;
    border-bottom: 2px solid ;
}

#leftbox{
    background-color:#777777;
    display:inline-block;
    color:aliceblue;
    width:33%;
}
#middlebox{
    background-color:#777777;
    display:inline-block;
    color:aliceblue;
    width:33%;
}
#rightbox{
    background-color:#777777;
    display:inline-block;
    color:aliceblue;
    width:33%;
}


#pictures {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0px;
}

#pictures img{
    width:100%;
    height:auto;
}







  .fa-facebook {
    color: #3b5998;
    font-size: 300%;
  }
  
  .fa-twitter{
    color: #00aced;
    font-size: 300%;
  }
  
  .fa-instagram{
    color: #517fa4;
    font-size: 300%;
  }
  

  .fa-facebook:hover ,
  
  .fa-twitter:hover ,

  .fa-instagram:hover ,



.contact {
    font-size: 200%;
    font-family: Josefin;
    color: white;
}


#email{
    background-color:black;
}

#call {
    background-color: black;
}

#map {
	border: 1px solid #e84610;
	background-repeat: no-repeat;
    display:inline-block;    
    width: 100%;
}

.mapbox{
    background-color:#00aced;
}

.timebox{
    background-color:#00aced;
}

.times {
    color: rgb(255, 255, 255);
    font-family: Josefin;
    letter-spacing: 3px;
    font-size: 250%; 
}

.timesp {
    color: white;
    font-family: exo;
    letter-spacing: 3px;
    font-size: 150%; 
}

#hours {
    font-size: 200%;
    text-align:center;
    margin-top: auto;
}
    

footer {
    margin-top: 4px;
    border-top: 2px solid ;
    border-bottom: 2px solid ;
    background-color:black;
    text-align: center;
}