@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
    font-family: Exo;
    color:crimson;
    background-color: black;
}

header {
    margin: 0;
    padding:0;
    border:0;
}

h1{
    font-family: Josefin;
    letter-spacing: 3px;
    color:crimson
}
#Header{
   float:left
   font-size: 280%; 
}

#container{
    font: size: 110%;
    list-style-type: none;
    letter-spacing: 3px;
}

#container li{
    margin-right: 30px;
}

.container a:hover {
    border-bottom: 1px solid #566666;
}

.navbar-brand {
    border-bottom: 1px solid #777777;
}

.carousel {
    margin-top: 4px;
    border-top: 2px solid ;
    border-bottom: 2px solid ;
}

#leftbox{
    background-color:#777777;
    display:inline-block;
    color:aliceblue;
    width:33%;
}
#middlebox{
    background-color:#777777;
    display:inline-block;
    color:aliceblue;
    width:33%;
}
#rightbox{
    background-color:#777777;
    display:inline-block;
    color:aliceblue;
    width:33%;
}



















#map {
    width: 400px;
	height: 300px;
	border: 1px solid #e84610;
	background-repeat: no-repeat;
    display:inline-block;
    
}

footer {
    margin-top: 4px;
    border-top: 2px solid ;
    border-bottom: 2px solid ;
    background-color: #777777;
}

footer{

    gzmk;sf\
}